
<ion-view view-title="CommuFi">
    <ion-content class="im-wrapper">
    <center>
        <h3>Contact Us.</h3>
        <br/>
        <img style="width:75%; height:75%" src="../img/logo1.png"  />
        <br/>
        <br/>
        Address: Molyko,Buea,Cameroon <br/>
        website: <a href="http://www.skylabase.com">skylabase.com</a>
        <br/>
        Tel: +237 676 101 785
        <br/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+237 243 626 689
         <br/> 
         Email: info@skylabase.com 
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;skylabase@gmail.com   

        </center>
    </ion-content>
</ion-view>
