<style type="text/css">
    
img{
    width:100%;
}
</style>
<ion-view view-title="CommuFi ">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
           <i> <strong class="title">Contact a Partner.</strong></i>
        </div>

  <div class="container">
      <main><div class="container section">

  <br>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator"  src="img/a.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">obia remmy <br/> Skylabase<br/>tel:672072724</span>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/a.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Achia Rolence <br/>Ndongo<br/>tel:670030932</span>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/a.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Pablo<br/> JM,Zapeen <br/>tel:</span>
              </div>
            </div>
          </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/a.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Paul <br/>Geneva<br/>tel:651288977</span>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator"  src="img/a.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Bill <br/> skylabase<br/>tel:678330964</span>
              </div>
          </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator"  src="img/a.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Yannick <br/>skylabase <br/>tel:681922919</span>
              </div>
            </div>
          </div>

    </main> 
    <br><br>
  </div>
    </ion-content>
</ion-view>
